<h2>SEARCH FOR COUNTRIES</h2>
<form>
  <mat-form-field floatLabel="never">
    <mat-icon class="search-icon" matPrefix>search</mat-icon>
    <input
      class="input"
      matInput
      [formControl]="autocompleteValue"
      placeholder="Search Country"
      [matAutocomplete]="auto"
    />
    <mat-spinner *ngIf="isLoading" matSuffix [diameter]="20"></mat-spinner>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="noResults" disabled> No results... </mat-option>
      <mat-option
        *ngFor="let option of countries | async"
        [value]="option.name.common"
        class="option"
        (click)="onSelectCountry(option.name.common)"
        (onSelectionChange)="onSelectCountry(option.name.common)"
      >
        <img class="flag" [src]="option.flags.svg" /> {{ option.name.common }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
