<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      [formControl]="autocompleteValue"
      placeholder="Search Country"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of countries | async"
        [value]="option.name.common"
        (click)="onSelectCountry(option.name.common)"
      >
        {{ option.name.common }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
